@{
    ViewData["Title"]="Not Found";
}

<div class="alert alert-warning">

<h2>

404

</h2>

<p>

Enrollment not found.

</p>

</div>

<a asp-controller="Enrollments"
   asp-action="Index"
   class="btn btn-primary">

Go Back

</a>